<!DOCTYPE html>
<html>
<head>
    <script>var page='contact'</script>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/menu.ejs") %> 
    <div class="content">
        <% if(emailsVisible) {%>
            <h3>Электронные адреса</h3>
            <ul>
                <% for(var i=0; i<emails.length;i++) {%>
                    <li><%=emails[i] %></li>
                <%} %>
            </ul>
        <% }else {%>
            <h3>Электронный адрес отсутствует</h3>
        <%} %>
        <p>Телефон: <%=phone %></p>
    </div>
    <%- include("partials/footer.ejs") %>

</body>
<html>